Arduino/build-uno
*~
Programmer/build-Programmer-Desktop-Debug
Simulation/nbproject/private/
SimulationTests/nbproject/private/
Simulation/build/
Documents/*.working
Documents/KruppelBotSimulation.vpp~*
Documents/KruppelBotSimulation.vpp.*
Simulation/dist/
Simulation/out.csv
Simulation/.jacocoverage/
Simulation/*.csv
Simulation/*#
Simulation/serialized_sim_int_test
