Arduino/build-uno
*~
Programmer/build-Programmer-Desktop-Debug
/Simulation/nbproject/private/
/SimulationTests/nbproject/private/
/Simulation/build/
/Documents/*.working
/Documents/*.vpp~*
/Documents/*.vpp.*
/Simulation/dist/
/Simulation/.jacocoverage/
